/* ------------------------ Welcome ------------------------------- */
.welcome__container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__title {
  text-align: center;
}

.welcome__gif {
  width: 200px;
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

label {
  padding: 10px 0px;
}

.form__submit {
  margin-top: 15px;
}

.form__checkbox {
  text-align: center;
  margin-bottom: 10px;
}

.form-control {
  text-align: center;
}

.welcome__score {
  text-align: center;
  margin-top: 10%;
}

.welcome__score--number {
  color: peru;
}

/* ------------------------ WordChoosing ------------------------------- */
.choose__container {
  display: flex;
  flex-direction: column;
  left: 17%;
  width: 70%;
  margin: auto;
  margin-top: 10%;
}

.share__container {
  text-align: center;
  background: darkslateblue;
  margin-top: 25px;
  padding: 10px 0px;
}

.share__button {
  padding: 0px 5px !important;
  margin-left: 25px;
}

/* ------------------------ Drawing ------------------------------- */
.drawing__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.drawing {
  background-color: white;
}

.drawing__button__container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.drawing__button--container-leave {
  display: flex;
  justify-content: center;
}

.drawing__button--leave {
  position: absolute;
  bottom: 5%;
}

/* ------------------------ Guessing ------------------------------- */
.guessing {
  background-color: white;
  width: 80%;
  padding: 25px;
  margin-top: 10%;
}

/* ------------------------ Not Found ------------------------------- */
.notFound__container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFound__subtitle {
  text-align: center;
  margin-top: 15px;
}

.notFound__subtitle--crossed {
  text-decoration: line-through;
  padding-left: 4px;
}

.notFound__button {
  position: absolute;
  bottom: 30%;
}

/* ------------------------ Waiting ------------------------------- */
.waiting__title {
  text-align: center;
}

.loading__spinner {
  width: -webkit-fill-available;
}

/* ------------------------ Error ------------------------------- */
.error {
  padding: 6px;
  margin: 0px;
}